<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- META GROUP -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- TITLE -->
        <title> SaatStore • Home </title>

        <!-- BOOTSTRAP LINK -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
        <!-- NAVBAR -->
        {% include 'navbar.html' %}

        <!-- LOAD STATIC FOR MEDIA FILES -->
        {% load static %}

        <!-- CATEGORIES -->
        <div class="mt-3" style="
          display: flex; 
          width: 100%; 
          justify-content: center;
        ">
          <div style="
            position: relative; 
            width: 80%; 
            height: 350px;
            border-radius: 10px;
            border: 2px solid rgb(0,0,0); 
            background-color: rgb(255,255,255); 
            overflow: hidden;
          ">
            <button id="lp_cat_prev" onclick="category_slider_prev()"> ◄ </button>
            <button id="lp_cat_next" onclick="category_slider_next()"> ► </button>

            <div id="carousel_category_card_1"> CARD 1: digital (replace with banner) </div>
            <div id="carousel_category_card_2"> CARD 2: classic (replace with banner) </div>
            <div id="carousel_category_card_3"> CARD 3: sport (replace with banner) </div>
            <div id="carousel_category_card_4"> CARD 4: mechanical (replace with banner) </div>
            <div id="carousel_category_card_5"> CARD 5: military (replace with banner) </div>
          </div>
        </div>

        <!-- TOP SELLER -->
        <div class="container text-center mt-3" style="display: flex; width: 100%; justify-content: center; border: 1px solid rgba(0,0,0,5%);">
            <div class="row row-cols-4 d-flex" style="width: 90%; gap: 10px;">
                {% for item in products %}
                    <div class="card col" style="width: 16rem; padding: 5px;">
                        <!-- <img class="card-img-top" style="width: 18rem;" src='{{item.image_path}}' alt='img_{{item.title}}'> -->
                        <img class="card-img-top" style="width: 100%;" src='{% static "img/"|add:item.image_path %}' alt='img_{{item.title}}'>
                        <div class="card-body">
                            <h3 class="card-title"> {{item.title}} </h3>
                            <p class="card-text"> {{item.brand}} </p>
                            <!-- <p class="card-text"> {{item.category}} </p> -->
                            <!-- <p class="card-text"> {{item.description}} </p> -->
                            <strong> ${{item.price}} USD </strong>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        
        <!-- BRANDS -->
        <div class="mt-3 mb-3" style="
          display: flex; 
          width: 100%; 
          justify-content: center;
        ">
          <div style="
            position: relative; 
            width: 80%; 
            height: 350px;
            border-radius: 10px;
            border: 2px solid rgb(0,0,0); 
            background-color: rgb(255,255,255); 
            overflow: hidden;
          ">
            <button id="lp_brand_prev" onclick="brand_slider_prev()"> ◄ </button>
            <button id="lp_brand_next" onclick="brand_slider_next()"> ► </button>

            <div id="carousel_brand_card_1"> CARD 1: Apple (replace with banner) </div>
            <div id="carousel_brand_card_2"> CARD 2: MarkQ (replace with banner) </div>
            <div id="carousel_brand_card_3"> CARD 3: DefButNotDefault (replace with banner) </div>
            <div id="carousel_brand_card_4"> CARD 4: CheapSheets (replace with banner) </div>
          </div>
        </div>

        <!-- CUSTOM JAVASCRIPT FOR EVENTS -->
        <script src="{% static 'js/'|add:'landpage.js' %}"></script>

        <!-- BOOTSTRAP SCRIPT -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>